# Practical Questions on Data Structure

In [10]:
#Write a code to create a string with your name and print itP
name = "Anand Patidar" 
print(name)

Anand Patidar

In [11]:
#Write a code to find the length of the string "Hello World"P
string = "Hello World"
print(len(string))

11

In [12]:
# Write a code to slice the first 3 characters from the string "Python Programming"
str1 = "Python Programming"
print(str1[:3])

Pyt

In [13]:
#Write a code to convert the string "hello" to uppercaseP

str2 = "hello"
print(str2.upper())

HELLO

In [14]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
str3 = "I like apple"
print(str3.replace("apple", "orange"))

I like orange

In [15]:
#Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [16]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [17]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [18]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list4 = ['a', 'b', 'c', 'd']
print(list4[1])

b

In [19]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10, 20, 30, 40, 50]

list5.reverse()
# list5 = list5[::-1]
print(list5)

[50, 40, 30, 20, 10]

In [20]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [21]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s3 = {1, 2, 3}
s4 = {3, 4, 5}
print(s3.union(s4))
# print(s3 | s4)

{1, 2, 3, 4, 5}

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [23]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [24]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t4 = ('apple', 'banana', 'orange')
print('kiwi' in t4)

False

In [26]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3 = ('dog', 'cat', 'rabbit')
print(t3.index('cat'))

1

In [27]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t1 = ('red', 'green', 'blue', 'yellow')
print(t1[-2])

blue

In [28]:

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s5 = {1, 2, 3}
s6 = {2, 3, 4}
print(s5.intersection(s6))
# print(s5 & s6)

{2, 3}

In [29]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [30]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {'name': 'John', 'age': 25}
d1['country'] = 'USA'
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d2 = {'name': 'Alice', 'age': 30}
print(d2['name'])

Alice

In [32]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d3.pop('age')
print(d3)

{'name': 'Bob', 'city': 'New York'}

In [33]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d4 = {'name': 'Alice', 'city': 'Paris'}
print('city' in d4)

True

In [34]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list6 = [1, 2, 3]
tuple6 = (4, 5, 6)
dict6 = {'name': 'John', 'age': 25}
print(list6)
print(tuple6)
print(dict6)

[1, 2, 3]
(4, 5, 6)
{'name': 'John', 'age': 25}

In [35]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
list7 = [random.randint(1, 100) for i in range(5)]
list7.sort()
print(list7)

[17, 26, 44, 55, 92]

In [36]:
# 28. Write a code to create a list with strings and print the element at the third index.
list8 = ['apple', 'banana', 'orange']
print(list8[2])

orange

In [37]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict7 = {'name': 'John', 'age': 25}
dict8 = {'city': 'New York'}
dict7.update(dict8)
print(dict7)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [38]:

# 30. Write a code to convert a list of strings into a set.
list9 = ['apple', 'banana', 'orange']
set1 = set(list9)
print(set1)

{'orange', 'apple', 'banana'}